#player {
    background: rgba(53, 53, 53, 0.85);
    backdrop-filter: blur(2px);
    border-top: none;
    border-right: none;
    padding: 1% 1% 1% 2%;
    width: fit-content;
    height: fit-content;
    border-bottom-left-radius: 30px;
    border-radius: 20px;
}

#unit {
    border-radius: 10px;
    background: gold;
    background: rgba(53, 53, 53, 1);
    padding: 10px 20px;
    color: rgba(53, 53, 53, 1);
}